{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
change password page
{% endblock %}


{% block styles %}
    {% comment %} <link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">  {% endcomment %}
{% endblock %}

 {% block content %}

	<div class="main-container fadeIn animated">

		<div class="container">

			<div class="row">

				<div class="col-md-7 col-sm-12 col-form">

					<h2 class="title-style-2">change password  <span class="title-under"></span></h2>
                    
             	  	  {% if form.errors %}
                        <div id="errors" style="color:red">
                            <div class="inner">
                                <p>Errors :</p>
                                {{ form.non_field_errors }}
                                <ul>
                                    {% for field in form %}
                                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <hr>
                    {% endif %}

					<form method="POST" enctype="multipart/form-data">
					  {% csrf_token %}
						<div class="form-group">
							<label class="col-form-label">old password</label>
							{{form.old_password}}
						</div>
						<div class="form-group">
							<label class="col-form-label">new Password</label>
                            {{form.new_password1}}
						</div> 
                        <div class="form-group">
							<label class="col-form-label">confirm Password</label>
                            {{form.new_password2}}
						</div> 
                       
						<div class="right-w3l">
							<button type="submit">Save changes</button>
						</div>
					</form>	
				</div>

			</div> 
		</div>
	</div>

{% endblock %}