{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
login page
{% endblock %}



{% block content %}

{% comment %} {{test}} {% endcomment %}
	<div class="page-heading text-center">

		<div class="container zoomIn animated">
			
			<h1 class="page-title">LOGIN  <span class="title-under"></span></h1>
			
		</div>

	</div>

	<div class="main-container fadeIn animated">

		<div class="container">

			<div class="row">

				<div class="col-md-7 col-sm-12 col-form">

					<h2 class="title-style-2">LOGIN FORM <span class="title-under"></span></h2>
                    
                {% if form.non_field_errors %}
                    <ul style="color: red;text-align: center;">
                        {{ form.non_field_errors.as_ul }}
                    </ul>
                    {% endif %}

					<form action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
					  {% csrf_token %}
						<div class="form-group">
							<label class="col-form-label">Email</label>
							{{form.username}}
						</div>
						<div class="form-group">
							<label class="col-form-label">Password</label>
                            {{form.password}}
						</div>

						<div class="right-w3l">
							<input type="submit" class="btn btn-primary pull-right" value="Log in">
						</div>
					</form>	
				</div>

			</div> 
		</div>
	</div>

{% endblock %}

