{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
login page
{% endblock %}

{% block content %}

<div style="
    margin: auto;
    text-align: center;
    border: solid;
    width: 444px;
    padding: 49px;
    margin-top: 36px;
    font-size: 21px;
    color: black;
">
  {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete your account?</p>
        <input type="submit" value="Confirm">
    </form>
  {% endif %}  
</div>
  
{% endblock %}