{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
Create new project
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/add-project-form.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
 {% block about %}
    <form action="{% url 'add_project' %}" method="POST" enctype="multipart/form-data" style="margin-bottom: 30px;">
        {% csrf_token %}
        <div class="container text-left ">
        <label for="title" >Title</label>
        <input id="title" type="text" name='title' class="form-control is-valid" required>

        <label for="details">Details</label>
        <input id="details" type="text" name="details" class="form-control is-valid" required>

        <label for="cat">Category</label>
        <select name="cat_id" id="cat" class="form-control form-control-lg is-valid" required>
            <option disabled value="" selected hidden>Select category</option>
            {% for cat in all_categories %}
            <option value="{{ cat.id }}">{{ cat.cat_name }}</option>
            {% endfor %}
         </select>

        <label for="tag">Tags</label>
        <select name="tags_id" id="tag" multiple class="form-control form-control-lg is-valid" required>
            <option disabled value="">Select tag</option>
            {% for tag in all_tags %}
            <option value="{{ tag.id }}" >{{ tag.tag_name }}</option>
            {% endfor %}
        </select>

            <label for="add_image" >Images</label>
            <span id="images"></span>
            <input type="button" name="add_image" id="add_image" value="Select image" class="form-control is-valid" required>
             <label for="target">Total target</label>
             <input id="target" type="number" name="target" class="form-control is-valid" required>

            <label for="created">Created at</label>
            <input id="created" type="date" name="created_at" class="form-control is-valid" required>
                   <label for="start_date">Start date</label>
            <input id="start_date" type="date" name="start_date" class="form-control is-valid" required>
                    <label for="end_date">End date</label>
           <input id="end_date" type="date" name="end_date" class="form-control is-valid" required>

        </div>
        <button class="btn btn-primary col-md-2 col-md-offset-5">Save</button>
    </form>
<div class="col-md-7 col-md-offset-3">

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/project-images.js' %}"></script>
{% endblock %}