{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
Projects
{% endblock %}
{% block about %}
{% if user.is_authenticated %}
<a class="col-md-2 col-md-offset-10 btn btn-primary" href="/project/add">Create new project</a>
{% else %}
<a class="col-md-2 col-md-offset-10 btn btn-primary" href="{% url 'login' %}">Create new project</a>
{% endif %}
<br>
{% load variables %}
<div class="carousel-inner" role="listbox">
    {% for project in all_projects %}
        {% with True as found %}
    <div class="container col-md-3">
        <div class="reasons-col animate-onscroll fadeIn carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for img in all_images %}
                {% if img.proj_id.id == project.id  %}
                {% if found %}
                {% update_variable False as found %}
                <div class="item active ">
                    {% else %}
                    <div class="item">
                        {% endif %}
                        <img src="{{ img.image_path }}" class="img-responsive" style="height: 350px;"/>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% update_variable True as found %}
                    {% endwith %}
                </div>
                <div class="reasons-titles">
                    <h3 class="reasons-title">{{project.title}}</h3>
                    <h5 class="reason-subtitle">{{project.cat_id.cat_name}}</h5>
                </div>
                <div class="on-hover hidden-xs">
                    <p> {{project.details}} </p>
                </div>
            </div>
            {% if user.is_authenticated %}
            <a href="/project/{{ project.id }}" class="btn btn-primary col-md-4 col-md-offset-4"> Read more </a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary col-md-4 col-md-offset-4"> Read more </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
 </div>
    {% endblock %}