{% extends 'layout/base.html' %}
{% load static %}
{% load variables %}
{% load mathfilters %}
{% block title %}
{{project_details.title}}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/rating.css' %}">
<link rel="stylesheet" href="{% static 'css/project-actions.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block header %}
{% if project_details.user_ID == request.user %}
  <a style="font-weight: bold; font-size: 20px;" href="{% url 'edit_project' project_details.id %}" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow col-md-offset-2">Edit</a>



{% with project_details.total_target|mul:"0.25" as quartertarger %}
  {% if  project_details.total_donation < quartertarger %}
        <a style="font-weight: bold; font-size: 20px;"  href="{% url 'project_delete' project_details.id %}" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow col-md-offset-2">Cancel</a>
    {% endif %}
{% endwith %}


{% endif %}


 <div id="carouselExampleIndicators" class="carousel slide col-md-5 col-md-offset-3" data-ride="carousel" margin="auto">
  <ol class="carousel-indicators">
      {% for img in project_images %}
      {% if forloop.first %}
       <li data-target="#myCarousel" data-slide-to="{{ forloop.first }}" class="active"></li>
       {% else %}
      <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"></li>
      {% endif %}
      {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for img in project_images %}
        {% if forloop.counter == 1 %}
             <div class="item active">
       {% else %}
            <div class="item">
        {% endif %}
            <img class="img-fluid" src="{{ img.image_path }}" style="height: 400px;">
            </div>
    {% endfor %}

  </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
 </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
{% block content %}
<div class="container text-center" >
Project OverAll Rating:
<fieldset class="starability-result mx-auto" data-rating="{{ project_details.overall_avg_rating }}" style="text-align: center;
    margin: auto;">
</fieldset>
</div>

<div>
<!--{% regroup tagProjects by project as grouped %}-->
<!--<ul>-->
<!--{% for group in grouped %}-->
<!--    <ul>-->
<!--        {% for item in group.first %}-->
<!--        <li>{{ item }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--{% endfor %}-->
<!--</ul>-->


    {% for tag in project_details.tags.all %}
       {% for tag1 in tagProjects %}
            {% if tag1.tag_name == tag.tag_name  and tag1.project != project_details.id %}

            {% endif %}
        {% endfor %}
    {% endfor %}



</div>


<div class="container text-left">
<div class="form-group">

 <span style="font-weight: bold; font-size: 30px;">{{request.user}} rate :</span>
<form class="form-rate" action="{% url 'rate_detail' project_details.id %}" method="POST" enctype="multipart/form-data" >
{% csrf_token %}
       <input type="text" name="therate" id="therate" hidden />

    {% if rate == -1 %}
    <div class="from-group rating rating2">
        <button type="submit" title="Give 5 stars" data-value="5" class="open-rateelements" >★</button>
         <button type="submit" title="Give 4 stars" data-value="4" class="open-rateelements">★</button>
         <button type="submit" title="Give 3 stars" data-value="3" class="open-rateelements">★</button>
         <button type="submit" title="Give 2 stars" data-value="2" class="open-rateelements">★</button>
         <button type="submit" title="Give 1 star" data-value="1" class="open-rateelements">★</button>

<!--        <a href="#1" title="Give 1 star" data-value="1" class="open-rateelements">★</a>-->
    </div>
    {% else %}
        <div class="from-group rating rating2">
            {% if rate == 1 %}
         <button type="submit" title="Give 5 stars" data-value="5" class="open-rateelements" >★</button>
         <button type="submit" title="Give 4 stars" data-value="4" class="open-rateelements">★</button>
         <button type="submit" title="Give 3 stars" data-value="3" class="open-rateelements">★</button>
         <button type="submit" title="Give 2 stars" data-value="2" class="open-rateelements">★</button>
         <button type="submit" title="Give 1 star" data-value="1" class="open-rateelements" style="color:#f5be2e">★</button>


           {%elif rate == 2%}
            <button type="submit" title="Give 5 stars" data-value="5" class="open-rateelements" >★</button>
         <button type="submit" title="Give 4 stars" data-value="4" class="open-rateelements">★</button>
         <button type="submit" title="Give 3 stars" data-value="3" class="open-rateelements">★</button>
         <button type="submit" title="Give 2 stars" data-value="2" class="open-rateelements" style="color:#f5be2e">★</button>
         <button type="submit" title="Give 1 star" data-value="1" class="open-rateelements" style="color:#f5be2e">★</button>

             {%elif rate == 3%}
            <button type="submit" title="Give 5 stars" data-value="5" class="open-rateelements" >★</button>
         <button type="submit" title="Give 4 stars" data-value="4" class="open-rateelements">★</button>
         <button type="submit" title="Give 3 stars" data-value="3" class="open-rateelements" style="color:#f5be2e">★</button>
         <button type="submit" title="Give 2 stars" data-value="2" class="open-rateelements" style="color:#f5be2e">★</button>
         <button type="submit" title="Give 1 star" data-value="1" class="open-rateelements" style="color:#f5be2e">★</button>

             {%elif rate == 4%}
            <button type="submit" title="Give 5 stars" data-value="5" class="open-rateelements" >★</button>
         <button type="submit" title="Give 4 stars" data-value="4" class="open-rateelements" style="color:#f5be2e">★</button>
         <button type="submit" title="Give 3 stars" data-value="3" class="open-rateelements" style="color:#f5be2e">★</button>
         <button type="submit" title="Give 2 stars" data-value="2" class="open-rateelements" style="color:#f5be2e">★</button>
         <button type="submit" title="Give 1 star" data-value="1" class="open-rateelements" style="color:#f5be2e">★</button>

             {%elif rate == 5%}
            <button type="submit" title="Give 5 stars" data-value="5" class="open-rateelements" style="color:#f5be2e">★</button>
         <button type="submit" title="Give 4 stars" data-value="4" class="open-rateelements" style="color:#f5be2e">★</button>
         <button type="submit" title="Give 3 stars" data-value="3" class="open-rateelements" style="color:#f5be2e">★</button>
         <button type="submit" title="Give 2 stars" data-value="2" class="open-rateelements" style="color:#f5be2e">★</button>
         <button type="submit" title="Give 1 star" data-value="1" class="open-rateelements" style="color:#f5be2e">★</button>

            {% endif %}
         </div>
    {% endif %}
</form>
</div>

<div class="form-group">

<LABEL for="title" style="font-weight: bold; font-size: 30px;">Title</LABEL>
<input id="title" style="font-size: 20px;" class="form-control" type="text" value="{{project_details.title}}" readonly>

</div>
<div class="form-group ">
<LABEL for="details" style="font-weight: bold; font-size: 30px;">Details</LABEL>
<textarea id="details" style="font-size: 20px;" class="form-control" type="text" value="{{ project_details.details }}" readonly>
{{ project_details.details }}
</textarea>
</div>
<div class="form-group">
<LABEL for="cat" style="font-weight: bold; font-size: 30px;">Category</LABEL>
<input id="cat" style="font-size: 20px;" class="form-control" type="text" value="{{project_details.cat_id.cat_name}}" readonly>
</div>
<div class="form-group">
<label style="font-weight: bold; font-size: 30px;">Tags</label>
{% for tag in project_details.tags.all %}
<input style="font-size: 20px;" class="form-control" type="text" value="{{ tag.tag_name }}" readonly>
{% endfor %}
</div>
<div class="form-group">
<LABEL for="target" style="font-weight: bold; font-size: 30px;">Total Target</LABEL>
<input id="target" style="font-size: 20px;" class="form-control" type="text" value="{{project_details.total_target}}" readonly>
</div>
<div class="form-group">
<label for="donation" style="font-weight: bold; font-size: 30px;">Total Donation</label>
<input id="donation" style="font-size: 20px;" class="form-control" type="text" value="{{project_details.total_donation}}" readonly>
</div>
<div class="form-group">
<label for="start" style="font-weight: bold; font-size: 30px;">Start date</label>
<input id="start" style="font-size: 20px;" class="form-control" type="text" value="{{project_details.start_date}}" readonly>
</div>
<div class="form-group">
<label for="end" style="font-weight: bold; font-size: 30px;">End date</label>
<input id="end" style="font-size: 20px;" class="form-control" type="text" value="{{project_details.end_date}}" readonly>
</div>





<div class="card-body">

<!-- comments -->
<h2>{{ comments.count }} comments</h2>

{% for comment in comments %}
<div class="comments" style="padding: 10px;">
<p class="font-weight-bold">
    {{comment.user_ID}} :
<span class=" text-muted font-weight-normal">
   {{ comment.comment }}
</span>
    {% for reply in comment.replies.all %}
    here
    <hr>
        {{reply.user_ID}}
        :{{reply.reply}}
    <hr>
    {%endfor%}
<button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replyBox{{comment.id}}" aria-expanded="false" aria-controls="replyBox{{comment.id}}">
    Reply
</button>



    <div class="collapse" id="replyBox{{comment.id}}">
    <div class="card card-body my-2">
        <form action="{% url 'reply_comment' project_details.id comment.id  %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="reply">Post a reply </label>
                <input type="text" class="form-control" name="reply" placeholder="Enter comment here">
                <input type="hidden" name="parentComment" value="{{comment.id}}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div class="replies bg-danger my-2 ">

</div>




<div class="modal fade" id="reportCommentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="reportcommentModalLabel">Comment</h4>
          </div>
          <div class="modal-body">
               <form class="form-comment" action="{% url 'report_comment' project_details.id  comment.id %}" method="POST">
                        {% csrf_token %}
                        <h3 class="title-style-1 text-center">What is your complain<span class="title-under"></span>  </h3>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <textarea cols="30" rows="4" class="form-control" name="report-comment" placeholder="Type your complain"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" >Submit</button>
                            </div>

                        </div>
                </form>
          </div>
        </div>
      </div>

    </div>
    {% if request.user == comment.user_ID %}
    <a href="" data-commentid="{{ comment.id }}" data-comment="{{ comment.comment }}" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow col-md-offset-2 open-AddBookDialog" data-toggle="modal" data-target="#commenteditModal">Edit</a>
    <a href="{% url 'comment_delete' project_details.id comment.id  %}" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow col-md-offset-2 open-AddBookDialog" >delete</a>

    {% endif %}
    <button id="Btn" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow col-md-offset-2" data-toggle="modal" data-target="#reportCommentModal">Report</button>
    <hr>
</div>
{% endfor %}
</div>


        <hr>

            <div class="section-home about-us fadeIn animated">
    <div class="container">
         <h2 class="title-style-1"> Related Tags Projects <span class="title-under"></span></h2>
        <div class="row">
            <div class="carousel-inner" role="listbox">
                {% for tag in project_details.tags.all %}
                   {% for tag1 in tagProjects %}
                        {% if tag1.tag_name == tag.tag_name  and tag1.project != project_details.id %}
                {% with True as found %}
                <div class="container col-md-3">
                    <div class="reasons-col animate-onscroll fadeIn carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox" >
                            {% for img in all_images %}
                            {% if img.proj_id.id == tag1.project  %}
                            {% if found %}
                            {% update_variable False as found %}
                            <div class="item active ">
                                {% else %}
                                <div class="item">
                                    {% endif %}
                                    <img src="{{ img.image_path }}" class="img-responsive" style="height: 350px;"/>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% update_variable True as found %}
                                {% endwith %}
                            </div>
                            <div class="reasons-titles">
                                <h3 class="reasons-title">{{project.title}}</h3>
                                <h5 class="reason-subtitle">{{project.cat_id.cat_name}}</h5>
                            </div>
                            <div class="on-hover hidden-xs">
                                <p> {{project.details}} </p>
                            </div>
                        </div>

                    </div>
                </div>

                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
            </div>

        <div class="modal fade" id="reportProjectModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="reportprojectModalLabel">Comment</h4>
          </div>
          <div class="modal-body">
               <form class="form-comment" action="{% url 'report_project' project_details.id %}" method="POST">
                        {% csrf_token %}
                        <h3 class="title-style-1 text-center">What is your complain<span class="title-under"></span>  </h3>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <textarea cols="30" rows="4" class="form-control" name="report-content" placeholder="Type your complain"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" >Submit</button>
                            </div>
                        </div>
                </form>
          </div>
        </div>
      </div>

    </div>
       <a style="font-weight: bold; font-size: 20px;" href="" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow col-md-offset-2" data-toggle="modal" data-target="#commentModal">Comment</a>
      <a style="font-weight: bold; font-size: 20px;" href="" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow col-md-offset-2" data-toggle="modal" data-target="#donateModal">DONATE NOW</a>
      <button id="myBtn" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow col-md-offset-2" style="font-weight: bold; font-size: 20px;" data-toggle="modal" data-target="#reportProjectModal">Report</button>
</div>
{% endblock %}
{% block donate %}

       <!-- Donate Modal -->
    <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="donateModalLabel">DONATE NOW</h4>
          </div>
          <div class="modal-body">
                <form class="form-donation" action="{% url 'make-donation' project_details.id %}" method="POST">
                        {% csrf_token %}
                        <h3 class="title-style-1 text-center">Thank you for your donation <span class="title-under"></span>  </h3>
                        <div class="row">
                            <div class="form-group col-md-12 ">
                                <input type="text" class="form-control" id="amount" name="donation" placeholder="AMOUNT(€)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" name="donateNow" >DONATE NOW</button>
                            </div>
                        </div>
                </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block comment %}

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="commentModalLabel">Comment</h4>
          </div>
          <div class="modal-body">
               <form class="form-comment" action="{% url 'comments_detail' project_details.id %}" method="POST">
                        {% csrf_token %}
                        <h3 class="title-style-1 text-center">Leave Comment here <span class="title-under"></span>  </h3>

                        <div class="row">

                            <div class="form-group col-md-12">
                                <textarea cols="30" rows="4" class="form-control" name="comment" placeholder="add comment"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" name="commentNow" >comment</button>
                            </div>

                        </div>
                </form>
          </div>
        </div>
      </div>

    </div> <!-- /.modal -->

    <div class="modal fade" id="commenteditModal" tabindex="-1" role="dialog" aria-labelledby="commenteditModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="commenteditModalLabel">Comment</h4>
          </div>
          <div class="modal-body">
               <form class="form-comment" action="{% url 'comment_edit' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3 class="title-style-1 text-center">Edit your Comment <span class="title-under"></span>  </h3>

                        <div class="row">
                                    <input type="text" name="commentId" id="commentId" hidden/>

                            <div class="form-group col-md-12">
                                <textarea cols="30" rows="4" class="form-control" value="{{ thecomment.comment }}" name="comment"  id="commentedited"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" name="commentNow" >comment</button>
                            </div>

                        </div>
                </form>
          </div>
        </div>
      </div>

    </div> <!-- /.modal -->


{% endblock %}
{% block scripts %}
<script src="{% static 'js/project-actions.js' %}"></script>
<script src="{% static 'js/rate-and-comment.js' %}"></script>


{% endblock %}