{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
{{project_details.title}}
{% endblock %}
{% block styles %}
   <link rel="stylesheet" href="{% static 'css/project-actions.css' %}">
{% endblock %}
{% block header %}
     <table>
        <tr>
           <th>ID</th>
            <th>Title</th>
            <th>Details</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Pictures</th>
            <th>Total Target</th>
            <th>Total Donation</th>
        </tr>
        <tr>
          <td>{{ project_details.id }}</td>
          <td>{{project_details.title}}</td>
           <td>{{project_details.details}}</td>
          <td>{{project_details.cat_id.cat_name}}</td>
           <td>
               {% for tag in project_details.tags.all %}
                <p>{{ tag.tag_name }}</p>
               {% endfor %}
           </td>
           <td>
               <ul id="slider">
                   {% for img in project_images %}
                   <li><img src="{{ img.image_path }}"></li>
                   {% endfor %}
               </ul>
           </td>
          <td>{{project_details.total_target}}</td>
          <td>{{project_details.total_donation}}</td>
          <td>{{project_details.start_date}}</td>
          <td>{{project_details.end_date}}</td>
          <td>
              <form action="{% url 'report_project' project_details.id %}" method="POST" enctype="multipart/form-data">
               {% csrf_token %}
                <button id="myBtn" class="btn">Report</button>
               <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                     <label for="report-content">What is your complain ?</label><br>
                    <textarea id="report-content" name="report-content">
                    </textarea><br>
                    <button>Report</button>
                  </div>
                </div>

              </form>
                <!--<a href="/project/{{ project_details.id }}/report">Report</a>-->
                <a href="/project/{{ project_details.id }}/comment">Comment</a>
         </td>
        </tr>

      </table>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/project-actions.js' %}"></script>
{% endblock %}